<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Landing Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Hind:300,400,500,600'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="home/css/style.css">
</head>

<body>
  <nav class="nav" id="menu">
    <div class="wrap">
      <div class="brand">
        <span>Wspecs Apps</span>
      </div>
      <button id="mobile-btn" class="hamburger-btn">
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
      </button>
      <ul class="top-menu" id="top-menu">
        <!--li><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li-->
        </ul>
      </div>
    </nav>

    <header class="hero">
      <div class="content">
        <h2></h2>
        <p>Inspire Improve Serve</p>
      </div>
    </header>

    <main class="main">
      <section>
        <div class="tab-row">
          <div class="col-4">
            <img width="200" src="hl/fav/ms-icon-310x310.png"/>
          </div>
          <div class="col-6">
            <h2>Hymnes & Louanges</h2>
            <p>Recueil de cantiques a l'usage des églises adventistes en langue française. Cette application fournit la capacité de trouver rapidement une chanson en utilisant la table des matières ou les fonctions de recherche. Un mode de présentation permet également aux utilisateurs de visualiser les chansons sous forme de diaporama..</p>
            <a class="button" href="hl">Visit</a>
          </div>
        </section>

        <section class="feature">
          <div class="tab-row">
            <div class="col-12">
              <h2>King James Version Bible</h2>
              <p>In 1604, King James I of England authorized that a new translation of the Bible into English be started. It was finished in 1611, just 85 years after the first translation of the New Testament into English appeared (Tyndale, 1526). The Authorized Version, or King James Version, quickly became the standard for English-speaking Protestants. Its flowing language and prose rhythm has had a profound influence on the literature of the past 400 years</p>
              <a class="button" href="kjv">Visit</a>
            </div>
          </section>
          <section>
            <div class="tab-row">
              <div class="col-4">
                <img width="200" src="sdah/fav/ms-icon-310x310.png"/>
              </div>
              <div class="col-6">
                <h2>Seventh Day Adventist Hymnal</h2>
                <p>The Seventh-day Adventist Hymnal is the hymbook most widely used by English-speaking Adventist congregations. This application provides the ability to quickly find a song using table of contents or search functions. A presentation mode also allows users to view the songs as a slideshow.</p>
                <a class="button" href="sdah">Visit</a>
              </div>
            </section>

            </main>
            <footer class="footer">
              <div class="row">
                <div class="col-12">&copy; 2017 wspecs</div>
              </div>
            </footer>
            <script src="home/js/index.js"></script>
          </body>
          </html>

