<!-- Section -->
<section id="banner">
  <div class="content">
    <h1>Hymnes &amp;<br>Louanges</h1>
    <div class="half">
      <header>
        <h3>Recueil de Chant</h3>
      </header>
      <p>Recueil de cantiques a l'usage des églises adventistes en langue française. Cette application fournit la capacité de trouver rapidement une chanson en utilisant la table des matières ou les fonctions de recherche. Un mode de présentation permet également aux utilisateurs de visualiser les chansons sous forme de diaporama.</p>
      <ul class="actions">
        <li><a href="hl/chant/<%- number %>" class="button big">Chantez!</a></li>
      </ul>
    </div>
    <div class="half align-center">
    <img src="hl/img/showcase.png" class="image object" alt="" />
    </div>
  </div>
</section>

<div style="clear: both;"></div>
<section>
  <blockquote>...Soyez, au contraire, remplis de l'Esprit; entretenez-vous par des psaumes, par des hymnes, et par des cantiques spirituels, chantant et célébrant de tout votre coeur les louanges du Seigneur; rendez continuellement grâces pour toutes choses à Dieu le Père, au nom de notre Seigneur Jésus Christ
  </blockquote>
  <strong>- Éph 5:18-20.</strong>
</section>
