<!-- Section -->
<section id="banner">
  <div class="content">
    <h1>Seventh-Day <br>Adventist Hymnal</h1>
    <div class="half">
      <header>
        <h3>SDA Hymnal</h3>
      </header>
      <p>The Seventh-day Adventist Hymnal is the hymbook most widely used by English-speaking Adventist congregations. This application provides the ability to quickly find a song using table of contents or search functions. A presentation mode also allows users to view the songs as a slideshow.
      </p>
      <ul class="actions">
        <li><a href="sdah/song/<%- number %>" class="button big">Sing</a></li>
      </ul>
    </div>
    <div class="half align-center">
    <img src="sdah/img/showcase.png" class="image object" alt="" />
    </div>
  </div>
</section>

<div style="clear: both;"></div>
<section>
  <blockquote>
    What is it then? I will pray with the spirit, and I will pray with the understanding also: I will sing with the spirit, and I will sing with the understanding also.
  </blockquote>
  <strong>- 1 Corinthians 14:15</strong>
</section>
