<section class="results">
  <h2>Table of Contents</h2>

  <ul class="pagination">
    <% for (const index of songIndexes) { %>
      <li>
        <a href="sdah/<%- pathPrefix %>/<%- index %>" class="page <% if (index === songIndex) { %>active<% } %>">
          <%- index %>
        </a>
      </li>
    <% } %>
  </ul>
  <ul class="alt index">
    <% for (const song of indexes) { %>
    <li>
      <% include partial/song-info %>
    </li>
    <% } %>
  </ul>
</section>
